/hxdirstamp
/t?-cast
/t?-compile
/t?-deque
/t?-dir
/t?-format
/t?-link
/t?-list
/t?-list2
/t?-map
/t?-memmem
/t?-misc
/t?-netio
/t?-option
/t?-other
/t?-proc
/t?-rand
/t?-realpath
/t?-shconfig
/t?-strchr2
/t?-string
/t?-strquote
/t?-time

# automake tests
*.log
*.trs
